html, body {
    height: 100%;
    width: 100%;
  }
  * {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
     width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(successpage.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
  }
  
  form {
    width: 30%;
    margin-top: 5%;
    margin-left: 35%;
    background:  #fff;
    border: 0; ;
    border-radius: 10px;
    margin-bottom: 5%;
    box-shadow: 10px 10px;
  }
  
  input,
  select {
    width: 80%;
    height: 30px;
    margin: 10px;
    margin-left: 10%;
    border: 1px solid  #191919;
    border-radius: 5px;
    padding: 5px;
    color: #817e7e;
    background: transparent;
  }
  
  input:focus {
    outline: none;
  }
  
  .header {
    text-align: center;
    padding: 30px;
  }
  
  .btn {
    width: 50%;
    border: 1px solid #191919;
    background: transparent;
    color: #191919;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 3%;
    transform: all ease 650ms;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #191919;
    color: #fff;
  }
  
  p {
    text-align: center;
  }
  
  .log {
     margin-top: 15%;
    margin-bottom: 15%
  }
  
  .card {
    width: 20%;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: #fff;
  border-radius: 10px;
  margin-left: 38%;
  margin-top: 20%;
  }